class ezconfig (
{% for group, consts in constants.iteritems() %}

	# [{{group}}]
{% for const in consts %}
	# (type: {{const.type}}) {{const.description}}
	${{const.variableName}}			= ${{const.propertyName|replace(".","::")}},
{% endfor %}
{% endfor %}
)